<!DOCTYPE html>

<html>
<body>
    <div class="col-sm-8 text-left">
        <h1>Benefits Cost</h1>
        <p>Enter employee number to see employee's gross pay after benefits deduction.</p>
        <hr>

    </div>
</body>
</html>
