@model PAT.UI.Areas.Calculations.Models.EmployeeBenefitsViewModel

<!DOCTYPE html>
<html>
<body>
@using (Html.BeginForm(null,null,FormMethod.Get, new {id ="calcForm"}))
{
    <div class="col-sm-8 text-left">
        <h1>Benefits Cost</h1>
        <p>Enter employee number to see employee's gross pay after benefits deduction.</p>
        <hr>
        @Html.LabelFor(m => m.EmployeeId)
        @Html.TextBoxFor(m => m.EmployeeId)
       
      
        <div>
            @Html.ValidationMessageFor(m => m.EmployeeId)
        </div>
        <button id="btnCalculate"  class="btn btn-primary">Run Calculation</button>
        <div id="result" >


        </div>

    </div>
}
<script>
    $('#btnCalculate').on('click', function (evt) {
        var form = $('#calcForm');
        var $resultDiv = $('#result');
        $resultDiv.empty();
        form.data('validator').resetForm();

        evt.preventDefault();
        evt.stopPropagation();
        if (form.valid()) {
            var url = '@Url.Action("CalculationResult", "BenefitsCalculation",new { employeeId = Model?.EmployeeId ?? 0 })';
            url = url.replace('0', $('#EmployeeId').val());

            $.get(url, function (data) {
                $resultDiv.replaceWith(data);
            });
        }
        
    });

</script>    

</body>
</html>
