@model PAT.UI.Areas.Calculations.Models.EmployeeBenefitsViewModel

<!DOCTYPE html>
<html>
<body>
@using (Html.BeginForm())
{
    <div class="col-sm-8 text-left">
        <h1>Benefits Cost</h1>
        <p>Enter employee number to see employee's gross pay after benefits deduction.</p>
        <hr>
        @Html.LabelFor(m => m.EmployeeId)
        @Html.TextBoxFor(m => m.EmployeeId)
       
        <button type="submit" class="btn btn-primary">Run Calculation</button>
        <div>
            @Html.ValidationMessageFor(m => m.EmployeeId)
        </div>

    </div>
}
</body>
</html>
