@model PAT.UI.Areas.Employees.Models.AddEmployeeViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dependents</title>
</head>
<body>
<div>
    edit
</div>
</body>
</html>
