<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title Payroll Analysis Tool</title>
</head>
<body>
layout view
<div>
    @RenderBody()
</div>
</body>
</html>
