
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div class="col-sm-8 text-left"> 
    <h1>Payroll Analysis Tool</h1>
    <p>Select a feature on the left to begin.</p>
    <hr>
  
</div>
</body>
</html>
